#header {
  background: asset-url("headerbg_920.png") no-repeat center;
  background-color: #424562;
  padding: 50px 0;
  h1 {
    height: 30px;
    background: asset-url("logo.png") no-repeat;
    color: white;
    font-size: 20px;
    padding: 3px 0 0 42px;
    font-weight: 400;
  }
  h2 {
    font-size: 52px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 140px;
  }
  p.tagline {
    color: #9499af;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
  }
  .btn-default {
    border: none;
    background: #535670;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 28px;
    margin-top: 14px;
    transition: all 50ms ease-in-out;
    &:hover {
      background: #66697f;
    }
    &:active {
      background: #464a65;
    }
  }
  .btn-primary {
    background: #40a7ff;
    border: none;
    width: 300px;
    padding: 26px;
    font-size: 22px;
    margin: 60px auto 80px auto;
    transition: all 60ms ease-in-out;
    &:hover {
      background: #66b8ff;
    }
    &:active {
      background: #157ed8;
    }
  }
}

@media all and (min-width: 921px) and (max-width: 1280px) {
  #header {
    background-image: asset-url("headerbg_1280.png");
  }
}

@media all and (min-width: 1281px) and (max-width: 1600px) {
  #header {
    background-image: asset-url("headerbg_1600.png");
  }
}

@media all and (min-width: 1601px) and (max-width: 1920px) {
  #header {
    background-image: asset-url("headerbg_1920.png");
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  #header {
    background-image: asset-url("headerbg_2560.png");
  }
}

@media all and (min-width: 2561px) {
  #header {
    background-image: asset-url("headerbg_2560.png");
    background-size: 100% auto;
  }
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  #header {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  #header h2 {
    font-size: 42px;
    margin-top: 100px;
  }
}

@media (max-width: 992px) {
  #header h2 {
    font-size: 32px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  #header h2 {
    font-size: 28px;
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  #header p.tagline {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  #header p.tagline {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #header p.tagline {
    font-size: 16px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  #header .btn-default {
    padding: 8px 20px;
  }
}

@media (max-width: 992px) {
  #header .btn-primary {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 14px;
  }
}

@media (max-width: 480px) {
  #header .btn-primary {
    width: auto;
  }
}

#page {
  #icons {
    text-align: center;
    margin-top: -50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dfe0e5;
    p {
      padding: 0 25px;
      font-size: 16px;
    }
  }
  #copy {
    padding: 50px 20px 60px 20px;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  #page #icons {
    margin-top: 0;
    text-align: left;
    padding-bottom: 50px;
    div {
      height: 200px;
      img {
        float: left;
      }
      h3 {
        padding-top: 50px;
      }
    }
  }
}

@media (max-width: 480px) {
  #page #icons {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    img {
      display: none;
    }
    h3 {
      margin-top: 20px;
    }
    p {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  #page #copy {
    padding: 40px 20px 20px 20px;
  }
}

@media (max-width: 480px) {
  #page #copy {
    padding: 10px 0;
  }
}

#slider {
  background: asset-url("sliderbg_920.png") no-repeat top;
  background-color: #6464bf;
  padding: 50px 0;
  .carousel {
    background: asset-url("macbook_large.png") no-repeat bottom;
    padding: 30px;
    height: 790px;
    ol.carousel-indicators {
      position: relative;
      text-align: center;
      li {
        border: 2px solid #b7b7ff;
        transition: background 80ms ease-in-out, border 80ms ease-in-out;
        &:hover {
          background: white;
          border-color: white;
        }
        &.active {
          width: 14px;
          height: 14px;
          position: relative;
          top: 1px;
          border-color: white;
        }
      }
    }
    .carousel-inner {
      width: 821px;
      margin: auto;
      .item {
        margin: 5px auto 0 auto;
        .carousel-caption {
          position: relative;
          width: 100%;
          height: 100px;
          margin-bottom: 45px;
          left: 0;
          right: 0;
          text-shadow: none;
          h4 {
            color: white;
            font-weight: 500;
            margin-bottom: 0;
          }
          p {
            color: #c1c1ff;
          }
        }
      }
    }
    .carousel-control {
      display: block;
      background: asset-url("slider_left.png") no-repeat top;
      background-color: none;
      filter: alpha(opacity = 100);
      opacity: 1;
      position: inline;
      width: 55px;
      height: 55px;
      margin-top: 380px;
      border: 2px solid white;
      border-radius: 6px;
      transition: background-color 80ms ease-in-out;
      &.right {
        background-image: asset-url("slider_right.png");
      }
      &:hover {
        background-color: white;
        background-position: bottom;
      }
    }
  }
}

@media all and (min-width: 921px) and (max-width: 1280px) {
  #slider {
    background-image: asset-url("sliderbg_1280.png");
  }
}

@media all and (min-width: 1281px) and (max-width: 1600px) {
  #slider {
    background-image: asset-url("sliderbg_1600.png");
  }
}

@media all and (min-width: 1601px) and (max-width: 1920px) {
  #slider {
    background-image: asset-url("sliderbg_1920.png");
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  #slider {
    background-image: asset-url("sliderbg_2560.png");
  }
}

@media all and (min-width: 2561px) {
  #slider {
    background-image: asset-url("sliderbg_2560.png");
    background-size: 100% auto;
  }
}

@media (max-width: 768px) {
  #slider {
    padding: 20px 0 0 0;
    .container {
      padding: 0;
    }
  }
}

@media (max-width: 1200px) {
  #slider .carousel {
    background-image: asset-url("macbook_medium.png");
    height: 630px;
  }
}

@media (max-width: 992px) {
  #slider .carousel {
    background-image: asset-url("macbook_small.png");
    height: 562px;
  }
}

@media (max-width: 768px) {
  #slider .carousel {
    background: none;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  #slider .carousel {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  #slider .carousel ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  #slider .carousel .carousel-inner {
    width: 600px;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-inner {
    width: 525px;
  }
}

@media (max-width: 768px) {
  #slider .carousel .carousel-inner {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #slider .carousel .carousel-inner .item img {
    border-radius: 4px;
  }
}

@media (max-width: 1200px) {
  #slider .carousel .carousel-inner .item .carousel-caption {
    margin-bottom: 35px;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-inner .item .carousel-caption {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #slider .carousel .carousel-inner .item .carousel-caption {
    padding: 10px 0;
    margin-bottom: 0;
    bottom: 0;
    height: auto;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-inner .item .carousel-caption h4 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  #slider .carousel .carousel-inner .item .carousel-caption h4 {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-inner .item .carousel-caption p {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  #slider .carousel .carousel-control {
    margin-top: 340px;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-control {
    margin-top: 280px;
    background-image: asset-url("slider_left_small.png");
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 992px) {
  #slider .carousel .carousel-control.right {
    background-image: asset-url("slider_right_small.png");
  }
}

@media (max-width: 768px) {
  #slider .carousel .carousel-control {
    background: none;
    width: 50%;
    margin-top: 0;
    height: 100%;
    border-radius: 0;
    border: none;
    &.right, &:hover {
      background: none;
    }
  }
}

#testimonial {
  background: asset-url("testimonialbg_920.png") no-repeat center;
  text-align: center;
  padding: 80px 0;
  h3 {
    margin-bottom: 65px;
  }
  img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
  }
  p {
    padding: 20px;
    span {
      &.name {
        font-weight: 500;
        color: #313542;
      }
      &.title {
        padding-left: 5px;
      }
    }
  }
  .div {
    width: 30px;
    margin: auto;
    height: 5px;
    border-bottom: 1px solid #afb0b2;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 921px) and (max-width: 1280px) {
  #testimonial {
    background-image: asset-url("testimonialbg_1280.png");
  }
}

@media all and (min-width: 1281px) and (max-width: 1600px) {
  #testimonial {
    background-image: asset-url("testimonialbg_1600.png");
  }
}

@media all and (min-width: 1601px) and (max-width: 1920px) {
  #testimonial {
    background-image: asset-url("testimonialbg_1920.png");
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  #testimonial {
    background-image: asset-url("testimonialbg_2560.png");
  }
}

@media all and (min-width: 2561px) {
  #testimonial {
    background-image: asset-url("testimonialbg_2560.png");
    background-size: 100% auto;
  }
}

@media (max-width: 1200px) {
  #testimonial {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  #testimonial {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  #testimonial {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  #testimonial h3 {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  #testimonial h3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  #testimonial p {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 1200px) {
  #testimonial .div {
    height: 1px;
    margin-bottom: 0;
  }
}

#steps {
  background: #4ec287;
  padding: 50px;
  text-align: center;
  .top {
    height: 50px;
    width: 174px;
    margin: auto;
    background: asset-url("steps_top.png");
    margin-bottom: -50px;
    position: relative;
    top: -100px;
  }
  .step {
    height: 310px;
    background: asset-url("step_1.png") no-repeat bottom;
    &#step2 {
      background-image: asset-url("step_2.png");
    }
    &#step3 {
      background-image: asset-url("step_3.png");
    }
    img.arrow {
      float: right;
      margin-left: -48px;
      position: relative;
      left: 39px;
      top: 180px;
    }
    p {
      padding: 0 20px 10px 20px;
      color: white;
    }
  }
  h4 {
    color: white;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  #steps {
    padding: 30px 0;
  }
}

@media (max-width: 1200px) {
  #steps .top {
    top: -80px;
  }
}

@media (max-width: 768px) {
  #steps .top {
    display: none;
  }
}

@media (max-width: 1200px) {
  #steps .step {
    height: 260px;
    &#step1 {
      background-image: asset-url("step_1_small.png");
    }
    &#step2 {
      background-image: asset-url("step_2_small.png");
    }
    &#step3 {
      background-image: asset-url("step_3_small.png");
    }
  }
}

@media (max-width: 992px) {
  #steps .step {
    background-position: left;
    height: 170px;
    padding-left: 200px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #steps .step {
    background: none;
    padding: 0 0 15px 0;
    margin: 0;
    height: auto;
    &#step1, &#step2, &#step3 {
      background: none;
    }
  }
}

@media (max-width: 992px) {
  #steps .step img.arrow {
    display: none;
  }
}

@media (max-width: 1200px) {
  #steps .step p {
    padding: 0 0 10px 0;
  }
}

@media (max-width: 992px) {
  #steps .step p {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 768px) {
  #steps .step p {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #steps h4 {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  #steps h4 {
    padding-top: 0;
  }
}

#social {
  padding: 60px 0;
  text-align: center;
  h3 {
    padding-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
  a {
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 45px;
    border: 2px solid white;
    &.twitter {
      border-color: #40a7ff;
      background: asset-url("twitter.png") no-repeat top;
      &:hover {
        background-color: #40a7ff;
        background-position: bottom;
      }
    }
    &.facebook {
      border-color: #3b5998;
      background: asset-url("facebook.png") no-repeat top;
      margin-right: 100px;
      &:hover {
        background-color: #3b5998;
        background-position: bottom;
      }
    }
  }
}

@media (max-width: 992px) {
  #social {
    padding: 20px 0 40px 0;
  }
}

@media (max-width: 992px) {
  #social h3 {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #social p {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #social a.facebook {
    margin-right: 40px;
  }
}

#footer {
  background: asset-url("footerbg_920.png") no-repeat top;
  color: #556275;
  padding: 40px 0 10px 0;
  font-size: 14px;
  .left a {
    display: inline-block;
    padding: 10px 15px;
    color: #556275;
  }
  .right {
    text-align: right;
    label {
      display: inline-block;
      font-weight: 400;
      padding-right: 10px;
    }
    input {
      display: inline-block;
      border: 1px solid #353f4e;
      border-right: none;
      background: none;
      border-radius: 4px 0 0 4px;
      padding: 10px;
      font-family: "Roboto", helvetica, arial, sans-serif;
      font-size: 14px;
      width: 240px;
      outline: none;
    }
    .btn-primary {
      background: #149ef6;
      border-radius: 0 4px 4px 0;
      border: none;
      padding: 12px 16px;
      -webkit-transform: all 60ms ease-in-out;
      -ms-transform: all 60ms ease-in-out;
      transform: all 60ms ease-in-out;
      width: auto;
      &:hover {
        background: #3ab2ff;
      }
    }
  }
  p {
    padding: 20px 0 0 0;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #151f2c;
  }
}

@media all and (min-width: 921px) and (max-width: 1280px) {
  #footer {
    background-image: asset-url("footerbg_1280.png");
  }
}

@media all and (min-width: 1281px) and (max-width: 1600px) {
  #footer {
    background-image: asset-url("footerbg_1600.png");
  }
}

@media all and (min-width: 1601px) and (max-width: 1920px) {
  #footer {
    background-image: asset-url("footerbg_1920.png");
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  #footer {
    background-image: asset-url("footerbg_2560.png");
  }
}

@media all and (min-width: 2561px) {
  #footer {
    background-image: asset-url("footerbg_2560.png");
    background-size: 100% auto;
  }
}

@media (max-width: 992px) {
  #footer .left {
    text-align: center;
  }
}

@media (max-width: 992px) {
  #footer .right {
    text-align: center;
  }
}

@media (max-width: 992px) {
  #footer .right label {
    display: block;
    margin-top: 30px;
  }
}
