#sessions-new, #members-new{
  height: 100%;
  #header {
    min-height: 100%;
    background: #424562;
    h1 {
      margin-bottom: 50px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .panel-default {
      border: none;
    }
    h3 {
      font-weight: 400;
      text-align: center;
      padding: 20px 0 15px 0;
      border-bottom: 1px solid #e9eaed;
      margin: 0 20px;
    }
    .social {
      margin: 0 20px;
      padding-bottom: 20px;
      padding-top: 5px;
      border-bottom: 1px solid #e9eaed;
      .btn-default {
        background: white;
        border: 1px solid #cccccc;
        color: #3b3f43;
        padding: 8px;
        span {
          display: block;
          float: left;
          width: 38px;
          height: 38px;
          margin-top: -8px;
          margin-left: -8px;
          background: asset-url("icon_github.png") no-repeat center;
          border-right: 1px solid #cccccc;
        }
        &:hover {
          background: #eeeeee;
        }
      }
    }
    span.or {
      display: block;
      width: 30px;
      background: white;
      margin: auto;
      margin-top: -14px;
      height: 14px;
      text-align: center;
      color: #cccccc;
    }
    form {
      text-align: center;
      padding: 20px;
      .input-group {
        &.username {
          margin-bottom: 20px;
        }
        &.password {
          margin-bottom: 5px;
        }
        input {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .checkbox {
        font-size: 13px;
        text-align: left;
        padding: 14px 0 0 5px;
      }
      a.forgotpassword {
        font-size: 12px;
        padding: 5px 0;
        float: right;
      }
    }
    p {
      &.bottom {
        background: #282828;
        padding: 20px;
        text-align: center;
        color: #84878b;
        font-size: 14px;
        border-radius: 0 0 4px 4px;
        transition: all 40ms ease-in-out;
        position: relative;
        top: 1px;
        a {
          color: #84878b;
          text-decoration: underline;
          &:hover {
            color: white;
          }
        }
      }
      &.footer {
        text-align: center;
        color: #d4d4d5;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 992px) {
  #sessions-new, #members-new{
    #header {
      min-height: 100%;
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  #sessions-new, #members-new{
    #header h1 {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  #sessions-new, #members-new{
    #header form .checkbox {
      padding: 10px 5px;
    }
  }
}

@media (max-width: 992px) {
  #sessions-new, #members-new{
    #header p.footer {
      position: inherit;
    }
  }
}
