.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Site Users
    %button.btn.btn-primary.pull-right
      %span.fa.fa-plus
      Add User
    .clearfix
    %br/
    .panel.panel-default
      %table.table#userscontainer
        %thead
          %tr
            %th Username
            %th Email
            %th
        %tbody.users
          %tr
            %td.name woubuc
            %td.email woubuc@example.com
            %td
              %button.btn.btn-danger.btn-sm.pull-right
                %span.fa.fa-close
                Remove user