.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Site Settings
    %button.btn.btn-default
      %span.fa.fa-key
      Manage API Keys
    %button.btn.btn-primary.pull-right
      %span.fa.fa-save
      Save settings
    .clearfix
    %br/
    .panel.panel-default
      .panel-heading
        General
      .panel-body
    .panel.panel-default
      .panel-heading
        Notifications
      .panel-body
