#sidebar
  #profile.user-sidebar
    %img.profileimg{:src => "http://0.gravatar.com/avatar/59b762ebf3d116bf806bcfa3fa12e65f"}/
    %p.name Hello, woubuc
    .row.links.hidden-sm.hidden-xs
      .col-xs-6
        %a{:href => ""} Account
      .col-xs-6
        %a.right{:href => "#", :onclick => 'EpicLogger.logout()'} Log out
    %button.btn.btn-primary.fa.fa-bars.visible-sm.visible-xs.pull-right{"data-toggle" => "collapse", :href => "#collapse_menu"}
  #collapse_menu.collapse.in
    .selectbox.closed
      %p.picked-website
        %strong.title Current Site Name
        %span.closed.fa.fa-chevron-down
        %span.open.fa.fa-chevron-up
      #websites-sidebar.options
        %p.title{onclick: 'EpicLogger.pickWebsite(this)', 'data-id'=> ""} Another site
    %ul.nav.nav-pills.nav-stacked
      = nav_link "Errors", errors_url(), {}, 'exclamation-triangle'
      = nav_link "Users", users_url(), {}, 'users'
    %ul.nav.nav-pills.nav-stacked
      -# = nav_link "Installation", instalation_url(), {}, 'exclamation-triangle'
      %li#menu_installation
        %a{:href => "#"}
          %span.fa.fa-code
          Installation
      %li#menu_settings
        %a{:href => "#"}
          %span.fa.fa-cog
          Site Settings
    %ul.nav.nav-pills.nav-stacked.hidden-md.hidden-lg
      %li#menu_account
        %a{:href => "#"}
          %span.fa.fa-user
          Account
      %li#menu_signout
        %a{:href => "#"}
          %span.fa.fa-sign-out
          Log out
    %ul.nav.nav-pills.nav-stacked
      %li#menu_help
        %a{:href => "#"}
          %span.fa.fa-question
          Help
